// Variables
$CovidBlue: #384e71;
$CovidRed: #b71f2b;
$CovidPink: #e94a50;
// Not used I think
$CovidOrange: #F4623A;

$BackgroundColor: #26193E;
$ForegroundSelected: #ee0d77;
$PinkReplacement: #584998;
$ForegroundUnselected: #A38EDC;

// Old definitions: Viridis with both ends cut off
/* $covid71: #41448788;
$covid72: #35608D88;
$covid73: #2A788E88;
$covid74: #21908C88;
$covid75: #22A88488;
$covid76: #43BF7188;
$covid77: #7AD15188;

$covid51: #41448788;
$covid52: #2F6C8E88;
$covid53: #21908C88;
$covid54: #2FB47C88;
$covid55: #7AD15188; */

// As of April 2
$covid71: #440154;
$covid72: #491D54;
$covid73: #4F3854;
$covid74: #555555;
$covid75: #436867;
$covid76: #327C79;
$covid77: #21908C;
$covid78: #eee;

$covid51: #440154;
$covid52: #481654;
$covid53: #4C2B54;
$covid54: #504054;
$covid55: #555555;
$covid56: #eee;