/* Add some margin for the tooltip */
/* same line */

.slider-list .slider-container {
  margin-top: 2em;                /* UNCHANGED */
}

@media (max-width: 768px) {
  .slider-list .slider-left {
    text-align: left;             /* WAS: center */
	margin-bottom: 2em;           /* ADDED */
	padding-left: 2px;            /* ADDED */
  }
  .slider-list .slider-right {
    text-align: right;            /* WAS: center */
	margin-bottom: 2em;           /* ADDED */
	padding-right: 2px;            /* ADDED */
  }
}

@media (min-width: 769px) {
  .slider-list .slider-item .control-label { 
    margin-top: 2em;              /* UNCHANGED */
  }
  .slider-list .slider-left,
  .slider-list .slider-right {
    margin-top: 0em;              /* WAS: 0.5em */
  }
}

 /* different line */
 
.slider-list .slider-item .control-label.col-sm-12 {
  margin-top: 0.5em;              /* UNCHANGED */
  margin-bottom: 2em;             /* UNCHANGED */
 }
 
.slider-list .slider-item .col-sm-12 .ls-input-group {
  margin-top: 0em;                /* WAS: 0.5em */
  margin-bottom: 2em;             /* UNCHANGED */
}
