.slider-handle{
    background-image: none;
    background-color: $PinkReplacement;
    box-shadow: none;
}

.slider-track{
    background: #ddd;
    box-shadow: none;
    border-radius: 0;
}

.slider-track-low, 
.slider-track-high{
    border-radius: 0;
}

.slider-selection{
    background: $BackgroundColor;
    box-shadow: none;
    border-radius: 0;
}

.numeric-multi{
    .hide-tip{
        display: none;
    }
}