@import 'colors';
@import 'radiobuttons';
@import 'multiplechoice';
@import 'slider';
@import 'numeric-slider';

body{
    background: #ddd;
    background: $BackgroundColor;
    font-size: 16px;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-danger{
    color: $ForegroundSelected;
}

.text-info{
    color: $BackgroundColor;
}

#outerframeContainer{
    margin-bottom: 120px;
}

.navbar-brand{
    padding: 0;
    height: 100px;
}

.navbar-default{
    background: $BackgroundColor;
    border: none;
    .navbar-nav > li a{
        color: #ddd;
        &:hover{
            color: #fff;
        }
    }
}

select.form-control{
    font-size: 18px;
}

.answer-container{
    padding-top: 15px;
    padding-bottom: 15px;
    .ls-answers{
        ul{
            margin-bottom: 0;
            li:last-child{
                margin-bottom: 0;
            }
        }
    }
}

.ls-question-help{
    padding-top: 5px;
    .em_default{
        display:none;
    }
    .ls-em-error{
        color: $ForegroundSelected;
    }
}

.question-help-container{
    line-height: 1.2;
    margin-bottom: 10px;

    p:last-child{
        margin-bottom: 0;
    }
}

.asterisk{
    margin-right: 5px;
    .text-danger{
        color: $BackgroundColor;
    }
    display: none;
}

.welcome-container-wrapper{
    background: white;
    padding: 15px;
    margin-bottom: 30px;
} 

#welcome-container{
    h1{
        margin-top: 0;
    }
}

.question-container{
    margin-bottom: 30px;
    background: white;
}

.question-title-container{
    background: $ForegroundSelected;
    padding: 10px 15px;
    .question-text{
        color: white;
        font-weight: normal;
    }
}

.completed-wrapper{
    padding:15px;
    background-color: white;
}

.navbar-default .navbar-nav > li.form-change-lang a {
    color: #333;
}

.form-change-lang{
    background: white;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
    margin-bottom: 15px;
}

.privacy{
    background: white;
    margin-bottom: 15px;
}